.footer_container{
    background-color: var(--primaryColor);
    padding: 34px;
    color: var(--textWhite);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.socila_icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 19px;
}


.instech{
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .footer{
        flex-direction: column;
        gap: 14px;
    }
    .allrightReserved h3{
        font-size: 17px;

    }
    
}