.flag {
  width: 10%;
  position: relative;
  top: 0;
  left: 174px;
}



.banner_container {
  background-color: var(--primaryColor);
  color: var(--textWhite);
}

.social_icons p{
    color: white;
  font-size: 23px;
}
.social_icons p:hover {
  color: blue;
  transition: all 0.5s ease;
}



@media screen and (max-width: 600px) {
  .banner_container {
    display: none;
  }
}
